body {
    margin: 0;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
    color: white;
}

nav {
    background-color: #333;
    height: 30px;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #777 solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    height: 36px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.login-button {
    margin-top: 5px;
    padding: 10px 15px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: #666;
    font-weight: 600;
    color: white;
}

.login-button:hover {
    background-color: #777;
}

.mode-toggle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.mode-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.toggle-container {
    background-color: #555;
    border-radius: 25px;
    width: 40px;
    height: 18px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.toggle-circle {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: left 0.3s;
}

.toggle-container.dark .toggle-circle {
    left: 24px;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.welcome-image {
    width: 100%;
    height: auto;
    max-height: 600px;
    display: block;
    opacity: 60%;
}

.on-image-button {
    position: absolute;
    bottom: 12%;
    left: 6%;
    background-color: #1A80E5;
    color: white;
    border: none;
    padding: 1% 2%;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.2vw;
    font-weight: 600;
}

.on-image-button:hover {
    background-color: #1569C7;
}

.offer-heading {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 36px;
    margin-bottom: -3px;
}

.feature-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.feature-box {
    background-color: #3c3c3c;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: scale(1.05);
}

.feature-box h4 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.feature-box p {
    font-size: 0.9rem;
    color: #bbb;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.footer-links {
    margin-left: 24px;
}

footer a.footer-link {
    color: white;
    text-decoration: none;
}

footer .divider {
    margin-left: 2px;
    margin-right: 2px;
    color: white;
}

footer a.footer-link:hover {
    text-decoration: underline;
}

.contact-info {
    margin-top: 15px;
    text-align: center;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.contact-icon {
    display: inline-block;
    vertical-align: middle;
}

#email-icon {
    width: 24px;
    height: 18px;
    margin-right: 6px;
}

#phone-icon {
    width: 27px;
    height: 27px;
}

.contact-row span {
    font-size: 14px;
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 6px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.social-icon img:hover {
    opacity: 0.8;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    background-color: #333;
    height: auto;
}

.logo img {
    height: 48px;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 390px;
    padding: 24px;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 663px;
    padding: 24px;
    margin: 0 auto;
    border: 2px solid #bbb;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.request-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 663px;
    padding: 24px;
    margin: 0 auto;
    border: 2px solid #bbb;
    border-radius: 12px;
    position: absolute;
    top: 48%;
    left: 38.5%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.request-form-owner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 663px;
    padding: 24px;
    margin: 0 auto;
    border: 2px solid #bbb;
    border-radius: 12px;
    position: absolute;
    top: 24%;
    left: 38.5%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 6px;
}

.register-form-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 6px;
}

.form-container label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 9px;
    display: block;
    padding-left: 0;
}

.register-form-container label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 9px;
    display: block;
    padding-left: 0;
}

input {
    width: calc(100% - 18px);
    margin-left: 12px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #E8EDF5;
    color: #4A709C;
    font-size: 0.9rem;
    box-sizing: border-box;
    letter-spacing: 0.03rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #4A709C;
}

.email, .otp, .password, .confirm-password {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
}

.register-name, .register-email, .register-password {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
    width: 300px;
}

#register-confirm-password {
    width: 300px;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input-container input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
    margin-left: 0;
    margin-bottom: 15px;
}

.password-input-container img.toggle-icon {
    position: absolute;
    right: 10px;
    top: 39%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.password-input-container img.profile-toggle-icon {
    position: absolute;
    right: 24px;
    top: 39%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1A80E5;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 9px;
}

.white-button {
    background-color: #E8EAED;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    min-width: 84px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    display: flex;
}

.blue-button {
    background-color: #1A80E5;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    min-width: 84px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}

.blues-button {
    background-color: #4DA9F2;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    min-width: 84px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}

.blue-button:hover {
    background-color: #1569C7;
}

.blues-button:hover {
    background-color: #3D91D9;
}

.white-button:hover {
    background-color: #D0D2D5;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
    border-top: 2px solid #E5E8EB;
    margin-top: auto;
    position: relative;
    width: 100%;
    font-size: 14px;
}

.footer-hyperlinks {
    display: flex;
    gap: 10px;
}

.footer-hyperlink {
    text-decoration: none;
    color: white;
}

.footer-hyperlink:hover {
    text-decoration: underline;
}

.flash-messages {
    width: 100%;
    margin: auto;
}

.flash {
    padding: 9px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flash.info {
    background-color: #e7f3fe;
    color: #31708f;
    border-left: 5px solid #31708f;
}

.flash.error {
    background-color: #f2dede;
    color: #a94442;
    border-left: 5px solid #a94442;
}

.flash.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-left: 5px solid #3c763d;
}

.flash.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-left: 5px solid #8a6d3b;
}

.flash i {
    margin-right: 10px;
    font-size: 18px;
}

.flash {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.3s forwards ease-out;
}

#register-flash {
    margin-top: 12px;
    margin-bottom: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-scroll {
    overflow-y: hidden;
}

.screen-container {
    display: flex;
    height: calc(100vh - 45px);
}

.sidebar {
    width: 201px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
}

.logo-section {
    padding-bottom: 30px;
}

.menu-logo {
    width: 100%;
}

.badge {
    margin-top: 9px;
    margin-bottom: -18px;
    display: flex;
    align-items: center;
}

.badge-background {
    width: 54px;
    height: 27px;
    background: #4A709C;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease,
    transform 0.3s ease;
}

.menu-item.active {
    background-color: #444C56;
}

.menu-item:hover {
    background-color: #555E68;
    transform: scale(1.05);
}

.menu-icon {
    width: 21px;
    height: auto;
    padding-left: 13px;
    padding-right: 11px;
}

.menu-text {
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease;
}

.menu-item:hover .menu-text {
    color: #66CCFF;
}

.theme-toggle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.switch-container {
    width: 40px;
    height: 18px;
    padding: 2px;
    background-color: #555;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.switch-circle {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

.switch-container.active .switch-circle {
    left: 25px;
}

.switch-container.active {
    background-color: #4A709C;
}

.theme-text {
    font-size: 16px;
    color: white;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 12px;
    padding-right: 24px;
}

.header h1 {
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

.header-icons {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    width: 18px;
    height: 18px;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
}

.icon:hover {
    background-color: #bbb;
}

.plain-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plain-icon img {
    width: 39px;
    height: 39px;
}

.announcement-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow-y: scroll;
    padding-right: 9px;
}

.announcement-card {
    padding: 6px 18px;
    border-radius: 18px;
    border: 2px solid #DBE0E5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 12px;
    margin-bottom: -9px;
    display: flex;
    align-items: center;
}

.edit-icon {
    width: 20px !important;
    height: auto !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 3px;
    top: 39px;
    background-color: #f4f4f4;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #D0D9E8;
}

.card-header h3 {
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 12px;
}

.announcement-card p {
    font-size: 15px;
    color: #4A709C;
    margin-bottom: 12px;
    text-align: justify;
}

.announcement-card img {
    width: 300px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 9px;
}

.announcement-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    height: 100vh;
    justify-content: space-between;
}

label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding-left: 12px;
}

textarea {
    width: calc(100% - 18px);
    margin-left: 12px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #E8EDF5;
    color: #4A709C;
    font-size: 0.9rem;
    box-sizing: border-box;
    font-family: inherit;
}

textarea {
    height: 120px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #4A709C;
}

.upload-area {
    width: 300px;
    min-height: 200px;
    border: 1px dashed #4A709C;
    border-radius: 12px;
    background-color: #E8EDF5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 12px;
}

.upload-area input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#uploadedImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

#placeholderText {
    font-size: 14px;
    color: #4A709C;
    font-weight: 600;
}

.checkbox-section {
    display: inline-flex;
    align-items: center;
    transform: scale(1.2);
    cursor: pointer;
    width: 300px;
    margin-left: 30px;
}

.checkbox-section input[type="checkbox"] {
    width: auto;
}

.checkbox-label {
    margin-left: -6px;
    font-size: 12px;
}

.announcement-form .button-container {
    margin-right: 6px;
    padding-bottom: 9px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: none;
    padding: 0 24px;
    margin-left: 21px;
    margin-right: 9px;
    background-color: #D0D9E8;
    width: 100%;
    box-sizing: border-box;
    height: 42px;
}

.magnifier-icon {
    width: 15px;
    height: auto;
    margin-right: -9px;
}

.search-input {
    border: none;
    outline: none;
    font-size: 15px;
    color: #4A709C;
    background-color: transparent;
    flex: 1;
}

.visitor-section, .invitation-section, .blacklist-section, .staff-section, .admin-staff-section, .unit-section, .request-list-section, .security-footage-section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

.staff-card-container, .request-list-card-container {
    display: flex;
    gap: 21px;
    margin-left: 9px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.visitor-card, .invitation-card, .blacklist-card, .admin-staff-card, .unit-card {
    padding-left: 9px;
    border-radius: 18px;
    border: 2px #DBE0E5 solid;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    margin-left: 12px;
    margin-right: 9px;
    margin-bottom: 18px;
    position: relative;
}

.admin-visitor-card {
    padding-left: 9px;
    border-radius: 18px;
    border: 2px #DBE0E5 solid;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    margin-left: 12px;
    margin-right: 9px;
    margin-top: 18px;
}

.staff-card {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9px;
    border-radius: 18px;
    border: 2px #DBE0E5 solid;
    margin-bottom: 3px;
}

.request-list-card {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9px;
    border-radius: 18px;
    border: 2px #DBE0E5 solid;
    margin-bottom: 3px;
    gap: 21px;
}

.avatar {
    width: 72px;
    height: 72px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-left: 16px;
}

.visitor-info, .invitation-info, .blacklist-info, .staff-info, .unit-info, .request-list-info {
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
}

.visitor-name, .blacklist-name, .staff-name, .unit-name, .request-list-title {
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 33px;
    word-wrap: break-word;
}

.visitor-details, .invitation-details, .blacklist-details, .staff-details, .owner-details, .tenant-details, .unit-details, .request-list-details {
    color: #4A709C;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.visitor-card .button-container, .invitation-card .button-container {
    margin-left: 639px;
    margin-top: 54px;
}

.blacklist-card .button-container {
    margin-left: 876px;
    margin-top: 39px;
}

.admin-visitor-card .button-container {
    margin-left: 639px;
    margin-top: 105px;
}

.admin-staff-card .button-container {
    margin-left: 720px;
    margin-top: 57px;
}

.unit-card .button-container {
    position: absolute;
    right: 20px;
    top: 75%;
    transform: translateY(-50%);
}

.request-list-card .button-container {
    margin-right: 30px;
}

.invitation-card .admin-invite-button-container {
    margin-top: 84px;
}

.blacklist-card .admin-blacklist-button-container {
    margin-top: 60px;
}

.details-section {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    flex: 1;
    overflow-y: scroll;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    background: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile label {
    padding-bottom: 6px;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos .visitor-details, .infos .owner-details, .infos .tenant-details {
    padding-left: 12px;
}

.contact {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.contact-infos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact-infos .contact {
    padding-left: 12px;
}

.visited-history h3 {
    margin-top: 15px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 45px 0;
    font-size: 15px;
    text-align: center;
    margin-left: -15px;
}

.custom-table th {
    padding: 6px 0;
    font-weight: 600;
}

.custom-table td {
    padding: 6px 0;
    color: #4A709C;
}

.details-section .upload-area {
    width: 120px;
    height: 120px;
    min-height: 120px;
    border-radius: 50%;
}

.row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
}

.row i {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 9px;
    color: #4A709C;
}

.row-label {
    display: flex;
    align-items: center;
    gap: 102px;
    margin-top: 30px;
}

.link-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-field .phone {
    width: 126px;
}

.input-field .email-field, .input-field .name, .input-field .position, .input-field .profile-password {
    width: 300px;
}

.input-field .type {
    width: 186px;
}

.input-field .number {
    width: 177px;
}

.input-field .ic {
    width: 132px;
}

.row .input-field {
    margin-top: -15px;
}

.register-form-container .input-field {
    gap: 0;
}

#register-submit {
    margin-top: 12px;
}

form h3 {
    margin-left: 12px;
    margin-top: 30px;
    margin-bottom: -15px;
}

.first-row-title {
    margin-top: -6px;
    margin-bottom: 9px;
}

.tenant-title {
    margin-top: 30px;
    margin-bottom: 9px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #4A709C;
}

.select-wrapper select {
    margin-left: 12px;
    padding: 15px;
    padding-right: 24px;
    border: none;
    border-radius: 12px;
    background-color: #E8EDF5;
    color: #4A709C;
    font-size: 0.9rem;
    box-sizing: border-box;
    letter-spacing: 0.03rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.select-wrapper select:focus {
    outline: none;
}

#wrapper-register-gender {
    padding-right: 12px;
}

#wrapper-register-gender::after {
    right: 27px;
}

#register-gender {
    margin-left: 0;
}

.new-number {
    margin-left: 24px;
    width: 177px;
}

.add-vehicle {
    background: #4A709C;
    color: white;
    border-radius: 9px;
    border: none;
    padding: 6px 15px;
    margin-left: 12px;
    margin-top: 12px;
    font-weight: 600;
}

.send-otp {
    background: #4A709C;
    color: white;
    border-radius: 9px;
    border: none;
    padding: 6px 15px;
    margin-top: 12px;
    font-weight: 600;
}

.details-section .button-container {
    margin-bottom: 9px;
    margin-right: 9px;
}

#request-tenant-button-container {
    margin-top: 165px;
}

#ic-field, #unit-field, #date-field {
    margin-left: 12px;
}

#ics {
    margin-left: 0;
}

#phones {
    margin-left: 0;
}

#unit-display-field {
    margin-left: 0;
    width: 63px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(30%) sepia(90%) saturate(200%) hue-rotate(180deg);
    cursor: pointer;
}

#first-row {
    margin-top: 15px;
    gap: 24px;
}

#first-row-label {
    margin-top: 15px;
}

.new-visitor-fields, .new-vehicle-fields {
    display: none;
    margin-top: 10px;
}

textarea#reason {
    width: 300px;
    margin-bottom: 15px;
}

.resigned-button-container {
    margin-left: 812px;
    margin-top: 57px;
}

.profile i {
    font-size: 24px;
    color: #ff4d4d;
    cursor: pointer;
}

.profile i:hover {
    color: #cc0000;
}

#profile {
    margin-top: -54px;
}

#tenant-profile {
    margin-top: 15px;
}

.profile-pic {
    margin-top: 57px;
    background-color: #E8EDF5;
}

#action-buttons {
    justify-content: flex-start;
    margin-left: 162px;
    margin-top: -45px;
}

.hidden {
    display: none;
}

.profile-button {
    justify-content: flex-start;
    margin-left: 12px;
    margin-top: 12px;
}

#profile-password {
    margin-left: 12px;
}

.link-container {
    margin-left: 15px;
    margin-bottom: 15px;
}

.link {
    color: #268AF5;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 24px;
}

.link i {
    margin-right: 6px;
    color: #268AF5;
}

.link:hover {
    text-decoration: underline;
}

.tabs {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

.tab-link {
    font-size: 16px;
    font-weight: bold;
    color: #888;
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tab-link.active {
    color: white;
    border-bottom: 2px solid #9BCFFF;
}

.tab-link:hover {
    color: #9BCFFF;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.video-thumbnail-container {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin: 1%;
}

.video-thumbnail {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    border-radius: 8px;
}

#live video::-webkit-media-controls-fullscreen-button, #videoModal video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#enlargedVideo {
    width: 80%;
    max-height: 80vh;
    object-fit: cover;
}

.plate-recognition {
    width: 20%;
    max-height: 75vh;
    padding: 20px;
    background-color: #333;
    overflow-x: hidden;
}

.plate-recognition h3 {
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 3px;
    width: 284px;
}

#plateList {
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    width: 284px;
}

#plateList li {
    font-size: 15px;
    margin-bottom: 5px;
    background-color: #888;
    padding: 9px;
    border-radius: 6px;
    width: 240px;
}